@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.page { 
    width: 100%;
    height: 100vh;
}

.page > img {
    position: absolute;
    z-index: -10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.header {
    width: 100%;
    background-color: #0E1342;
    padding: 1.25rem 3.4rem;
    box-shadow: 0px 4px 4px 0px #00000040;
}

.content-card {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    width: fit-content;
    height: auto;
    padding: 2rem 2rem 0rem 2rem;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 5px 5px 0px #0000001A;
}

.header > p {
    color: white;
    font-weight: 600;
    font-size: 1.37rem;
}

.title-convert {
    width: 100%;
    display: flex;
    padding: 3.68rem 1.5rem;
    justify-content: center;
    color: white;
}

.title-convert > p {
    font-weight: 600;
    font-size: 2rem;
    text-align: center;
}

input, select, option {
    outline: none;
    width: 17.4rem;
    height: 2.5rem;
    padding: 0 1rem;
    border-radius: 4px;
    border: 1px solid #CCCCCC;
    font-weight: 600;
}

.input-card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.input-card > p {
    font-weight: 600;
}

.card-inputs-elements {
    display: flex;
    align-items: flex-end;
    width: fit-content;
    gap: 2rem;
}

.swap-button {
    display: flex;
    width: 2.62rem;
    height: 2.62rem;
    outline: none;
    background-color: white;
    border: 1px solid #177FE5;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}

.currency-rate-info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.currency-rate-info > p:nth-child(1) {
    font-weight: 600;
    font-size: 2rem;
    color: black;
    line-height: 2.25rem;
}

.currency-rate-info > p:nth-child(2) {
    font-weight: 400;
    font-size: 1rem;
    color: #757575;
    line-height: 2.25rem;
}

.card-info {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.other-info {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 5rem;
}

.convert-info {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    background-color: #E8F3FF;
    width: 32.37rem;
    height: 6.56rem;
    box-shadow: 0px 2px 4px 0px #0000000D;
}

.convert-info > p {
    font-weight: 400;
    font-size: 0.87rem;
    color: black;
    line-height: 2.25rem;
}

.last-update {
    font-size: 0.75rem;
    font-weight: 300;
    line-height: 2.25rem;
    color: black;
}

.link {
    background: none;
    border: none;
    font-size: 0.75rem;
    font-weight: 300;
    line-height: 2.25rem;
    color: black;
    text-decoration: underline;
    cursor: pointer;
}


.mobile {
    display: none;
}

.content-info-update {
    padding: 0rem 2rem 0rem 2rem;
}

@media (max-width: 1050px) {
    .card-inputs-elements {
        flex-direction: column;
        align-items: flex-start;
        gap: 1.5rem;
    }

    .desktop {
        display: none;
    }

    .mobile {
        display: flex;
    }

    .card {
        gap: 1rem;
    }
    .title-convert {
        width: 100%;
        display: flex;
        padding: 2.68rem 1.5rem;
        justify-content: center;
        color: white;
    }   
}